body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.night-mode {
  background-color: #121212;
  color: #ffffff;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
}

.bienvenida {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo más oscuro para mayor contraste en modo nocturno */
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  width: 40%; /* Aumentar el ancho de la caja de bienvenida */
}

body:not(.night-mode) .bienvenida {
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo más claro para mayor contraste en modo claro */
  color: #000000;
}

.opciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px; /* Añadir espacio entre las imágenes */
}

.opcion {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.opcion img {
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease;
  z-index: 0;
  border-radius: 10px; /* Redondear las esquinas de las imágenes */
}

.opcion img:hover {
  filter: brightness(1.2);
}

.texto-sobre-imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo más oscuro para mayor contraste en modo nocturno */
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

body:not(.night-mode) .texto-sobre-imagen {
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo más claro para mayor contraste en modo claro */
  color: #000000;
}

#toggle-mode {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggle-mode:hover {
  background-color: #666;
}

body.night-mode #toggle-mode {
  background-color: #fff;
  color: #000;
}

body.night-mode #toggle-mode:hover {
  background-color: #ddd;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .opciones {
    flex-direction: column;
    gap: 5px; /* Ajustar el espacio entre las imágenes */
  }

  .bienvenida {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Aumentar el ancho de la caja de bienvenida en dispositivos móviles */
  }
  body {
    font-size: 18px; /* Ajusta este valor según sea necesario */
  }    
}

/* opciones rutinas hombres */
.foto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.opcion-rutinas {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.op {
  text-decoration: none;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo más oscuro para mayor contraste en modo nocturno */
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
body:not(.night-mode) .op {
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo más claro para mayor contraste en modo claro */
  color: #000000;
}

.texto-v {
  font-size: 20px;
  font-weight: bold;
}
